.edpage-title 
{
    font-size: 1.4em;
    color: var(--dark-green);

    font-family: "Inter", sans-serif;

    margin-bottom: 3rem;
}

.edpage-container 
{
    font-family: "Inter", sans-serif;
    width: 100%;
}

.edpage-container h2 
{
    font-size: 1.2em;
    color: var(--light-green);
}

.edpage-container p 
{
    margin-top: .5rem;
    text-align: justify;
}

.edpage-container p a 
{
    font-weight: 700;
    color: var(--green);

    -webkit-transition: .3s;

    -o-transition: .3s;

    transition: .3s;
}

.edpage-container p a:hover 
{
    color: var(--light-green);
}

/* ---- */
:root 
{
    --base-pict-width: 95%;
    --base-pict-height: 400px;  
}

.edpage-container .pics-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.edpage-container .pics-container .background-top, .edpage-container .pics-container .background-bottom 
{
    width: var(--base-pict-width);
    min-height: var(--base-pict-height);
    background: var(--main-blue);

    position: absolute;
    z-index: -1;
} 

.edpage-container .pics-container .background-top
{
    top: -1rem;
    left: 0;
}

.edpage-container .pics-container .background-bottom
{
    /* z-index:  !important; */
    top: 0;
    right: 0;
    bottom: -1rem;
}
 
.edpage-container .pics-container .pict
{
    width: var(--base-pict-width);
    min-height: var(--base-pict-height);

    margin-top: -.25rem;
    background-color: white;
    background-image: url(../../../assets/pictures/blog-pics/1.jpg);
    background-size: cover;
    background-position: center;

    animation: changeBackgroundImage 10s infinite ease-in-out;

    border: 1px solid var(--white);
}

/* 1, 4, 8, 9, 10 */
@keyframes changeBackgroundImage {
    0% 
    {
        background-image: url(../../../assets/pictures/blog-pics/1.jpg);
    }
    25%
    {
        background-image: url(../../../assets/pictures/blog-pics/4.jpg);
    }
    50%
    {
        background-image: url(../../../assets/pictures/blog-pics/8.jpg);
    }
    75%
    {
        background-image: url(../../../assets/pictures/blog-pics/9.jpg);
    }
    100%
    {
        background-image: url(../../../assets/pictures/blog-pics/10.jpg);
    }
}

.edpage-container .pics-container .background-top, .edpage-container .pics-container .background-bottom 
{
    background-color: var(--dark-green);
    animation: changeBackground 10s infinite ease-in-out !important;

}

@keyframes changeBackground
{
    0%
    {
        background-color: var(--dark-green);
    }
    50%
    {
        background-color: var(--light-green);
    }
    100%
    {
        background-color: var(--dark-green);
    }
}

.edpage-container .text-content
{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: 3rem;
}

.edpage-container .text 
{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.edpage-container h2 
{
    font-size: 1.4em;
    font-weight: 700;
}

.edpage-container h2 span 
{
    color: var(--green)
}

.edpage-container p 
{
    font-size: 1.1em;
    text-align: justify;
    color: var(--black);
}

.edpage-container a.btn 
{
    display: inline;
    width: 180px;
    /* margin-top: 1rem; */

    font-family: "Poppins", sans-serif;
    font-size: 1.4em;
    color: var(--green);
    border: 1px solid var(--green);
    padding: .8rem 1.6rem;

    transition: .3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.edpage-container .text-content a.btn:hover 
{
    background-color: var(--green);
    color: var(--white);
}

@media screen and (min-width: 992px)
{
    .edpage-container 
    {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 2rem;
    }

    .edpage-container .text-content
    {
        width: 100%;
        margin-top: 0;
    }

    .edpage-container .pics-container, .edpage-container .background-bottom
    {
        max-height: 500px;
    }
}

@media screen and (min-width: 1280px)
{
    .edpage-container h2 
    {
        font-size: 1.5em;
    }

    .edpage-container p 
    {
        font-size: 1.2;
    } 
}