.image-background
{
    padding-top: 80px !important;

    font-family: "Montserrat", sans-serif;
    color: var(--white);

    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,.5)), to(rgba(0,0,0,.5))), url(../../../assets/pictures/blog-pics/6.jpg);

    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../assets/pictures/blog-pics/6.jpg);

    background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../assets/pictures/blog-pics/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-animation: changeBackgroundImage 10s infinite ease-in-out;
            animation: changeBackgroundImage 10s infinite ease-in-out;

    height: 300px;
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .3rem;
}

@-webkit-keyframes changeBackgroundImage {
    0% 
    {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,.5)), to(rgba(0,0,0,.5))), url(../../../assets/pictures/blog-pics/6.jpg);
        background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../assets/pictures/blog-pics/6.jpg);
    }
    50%
    {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,.5)), to(rgba(0,0,0,.5))), url(../../../assets/pictures/blog-pics/9.jpg);
        background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../assets/pictures/blog-pics/9.jpg);
    }
    100%
    {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,.5)), to(rgba(0,0,0,.5))), url(../../../assets/pictures/blog-pics/2.jpg);
        background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../assets/pictures/blog-pics/2.jpg);
    }
}

@keyframes changeBackgroundImage {
    0% 
    {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,.5)), to(rgba(0,0,0,.5))), url(../../../assets/pictures/blog-pics/6.jpg);
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../assets/pictures/blog-pics/6.jpg);
        background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../assets/pictures/blog-pics/6.jpg);
    }
    50%
    {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,.5)), to(rgba(0,0,0,.5))), url(../../../assets/pictures/blog-pics/9.jpg);
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../assets/pictures/blog-pics/9.jpg);
        background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../assets/pictures/blog-pics/9.jpg);
    }
    100%
    {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,.5)), to(rgba(0,0,0,.5))), url(../../../assets/pictures/blog-pics/2.jpg);
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../assets/pictures/blog-pics/2.jpg);
        background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../../../assets/pictures/blog-pics/2.jpg);
    }
}

.image-background h1 
{
    font-weight: 200;
    text-align: center;
}

.image-background p 
{
    font-size: .8em;
    font-weight: 300;
    text-align: center;
}

.image-background .secondary-btn 
{
    font-family: "Poppins", sans-serif !important;
    font-size: 1.3em;

    margin-top: .75rem;
    -ms-flex-item-align: auto !important;
        -ms-grid-row-align: auto !important;
        align-self: auto !important;
    font-weight: 200 !important;

    border-radius: 0;
    border-color: var(--white) !important;
    color: var(--white) !important;
}

main.temporary
{
    min-height: 50vh;
    /* max-width: 768px; */

    padding-top: 3rem !important;
    color: var(--darker-green);

}

main .trending-blogs h1,
main .about-us h1
{
    font-weight: 700;
    font-size: 1.3em;
    text-align: left;
    color: var(--light-green);

    margin-bottom: 2rem;
}

main.temporary .sign-more 
{
    color: var(--red);

    -ms-flex-item-align: end;

        align-self: flex-end;
    margin-top: 2rem;
}

main.temporary .sign-more a 
{
    color: var(--red);
    text-decoration: underline;

    -webkit-transition: opacity .3s;

    -o-transition: opacity .3s;

    transition: opacity .3s;
}

main.temporary .sign-more a:hover 
{
    opacity: .5;
}

/* STYLES FOR ALL BLOGS LAYOUT! */
.trending-blogs
{
    width: 100%;

    /* max-width: 768px;

    border: 1px solid var(--gray);
    padding: 2rem 1rem; */
}

.blogs-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.1rem;

    /* margin-top: 2rem; */
}

.blogs-container * 
{
    font-family: "Inter";
}

.blogs-container .blog 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .5rem;

    -webkit-transition: .3s;

    -o-transition: .3s;

    transition: .3s;
}

.blogs-container .blog:hover 
{
    opacity: .7;
}

.blogs-container .blog .information
{
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .5rem;
}

.blogs-container .blog .blog-image
{
    width: 100%;
    max-height: 180px;

    -o-object-fit: cover;

       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.blogs-container .information .header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .25rem;
}

.blogs-container .information .header .profile-pict 
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.blogs-container .information .header .username 
{
    font-size: .8em;
    font-weight: 500;
    color: var(--black);
}

.blogs-container .information .title-context h1
{
    font-size: 1em;
    font-weight: 700;
    color: var(--dark-green);

    margin-bottom: .1rem;
}

.blogs-container .information .title-context h2
{
    font-size: .9em;
    font-weight: 700;
    color: var(--lighter-green);

}

.blogs-container .information .detail-stats
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.blogs-container .information .detail-stats * 
{
    font-size: .75em;
    color: var(--dark-gray);
}

.blogs-container .information .detail-stats .reads iconify-icon 
{
    color: var(--orange);
    margin-bottom: -2.5px;
}

@media screen and (min-width: 576px)
{
    .blogs-container .information .title-context h2 
    {
        display: block;
    }

    .blogs-container .information .detail-stats .date 
    {
        display: block;
    }
}

@media screen and (min-width: 640px)
{
    .image-background h1 
    {
        font-size: 2.5em;
    }
    
    .image-background p 
    {
        font-size: 1em;
    }

    /* main#main
    {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }  */


    .blogs-container .blog 
    {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .blogs-container .blog .information 
    {
        width: 70%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .blogs-container .information .header .profile-pict 
    {
        width: 36px;
        height: 36px;
    }

    .blogs-container .information .header .username 
    {
        font-size: 1em;
    }

    .blogs-container .information .title-context h1
    {
        font-size: 1.2em;
    }

    .blogs-container .information .title-context h2
    {
        font-size: 1em;
    }

    .blogs-container .blog .blog-image
    {
        width: 30%;
        max-height: 120px;
    }
}

@media screen and (min-width: 768px) {
    .image-background.temporary
    {
        height: 350px;
    }

    .image-background.temporary .secondary-btn 
    {
        font-size: 1.2em;
        font-weight: 300 !important;
    }

    main.temporary .trending-blogs h1
    {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    .blogs-container .blog .blog-image
    {
        max-height: 120px;
    }
}

@media screen and (min-width: 1280px)
{
    .image-background.temporary
    {
        height: 450px;
    }
}