header.header.header-main.transparent 
{
    background: transparent;
    border: none;

    transition: .3s;
}

header.header.header-main.transparent * 
{
    color: var(--white);

}

header.header.header-main.transparent .nav-toggle .bar 
{
    background: var(--white);
}

header.header.header-main.transparent a.current-page::after,
header.header.header-main.transparent a:hover:after
{
    background-color: var(--white);
}

header.header.header-main.transparent a.current-page::after,
header.header.header-main.transparent a:hover::after 
{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
}

.image-background.main
{
    height: 100vh !important;
}

main#main 
{
    align-items: center;
    justify-content: center;

    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
    scroll-margin-top: 80px;

    min-height: 0;
}

main#main .divider 
{
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    margin-bottom: 4rem;
}

main#main-secondary
{
    min-height: 0 !important;
    padding: 0 !important;

    scroll-margin-top: 80px;
}

main#main-secondary * 
{
    font-family: "Poppins", sans-serif;
}

main#main-secondary h1
{
    font-size: 1em;
    text-align: right;
    opacity: .7;
}

.about-us
{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    background: var(--dark-green);
    color: var(--white);
}

.data-stats
{
    padding-top: 3rem !important;
    /* padding-bottom: 3rem !important; */
}

main .about-us .section
{
    /* margin-top: 1rem; */

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
}

main .about-us .section > * 
{
    /* width: 50%; */
    width: 100%;
}

main .about-us h2 
{
    font-size: 1.2em;
    color: var(--light-green);
    margin-bottom: .5rem;
}

main .about-us p 
{
    text-align: justify;

    font-size: .9em;
}

.data-detail 
{
    margin: 2.5rem 0;
    width: 100%;
}

.data-detail > p 
{
    color: var(--black);
    font-size: 1.2em;
    text-align: left;
}

.data-detail > p span 
{
    color: var(--green);
}

main .data-stats
{
    color: var(--light-green);
    font-family: "Inter", sans-serif;

    /* margin: 4rem 0; */

    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4rem;
}

.data-stats .data 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.data-stats .number 
{
    font-weight: 700;

    font-size: 1.2em;
}

.data-stats .title 
{
    color: var(--light-green);
}

@media screen and (min-width: 768px)
{
    /* main .about-us .section
    {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    } */

    main .data-stats
    {
        gap: 5rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

}