main.profile 
{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    /* padding-top: 80px !important; */
    font-family: "Montserrat", sans-serif;
}

.profile .waves-bg
{
    width: 100%;
    position: absolute;
}

.profile-content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.5rem;

    width: 100%;
    max-width: 320px;

    position: relative;
    margin-top: 2rem;
}

.profile-content .profile-pict 
{
    width: 72px;
    height: 72px;
    border-radius: 50%;

    background-color: var(--black);
}

.profile-content .data-section 
{
    -ms-flex-item-align: start;
        align-self: flex-start;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
}

.data-section .label 
{
    font-size: 1rem;
    font-weight: 500;
    color: var(--lighter-green)
}

.data-section .information 
{
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
}

.profile-content a 
{
    -ms-flex-item-align: end;
        align-self: flex-end;

    font-family: "Inter", sans-serif;
    font-size: .9em;
    font-weight: 600;
    color: var(--light-green);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    padding: 10px 20px;
    border: 1px solid var(--light-green);
    border-radius: 4px;

    -webkit-transition: .3s;

    -o-transition: .3s;

    transition: .3s;
}

.profile-content a:hover 
{
    opacity: .5;
}

.shared-blogs
{
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.shared-blogs h2 
{
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--light-green);
}

.shared-blogs .empty 
{
    font-size: 2em;
    margin-top: 2rem;
}

.shared-blogs a 
{
    font-family: "Inter", sans-serif;
    font-size: .9em;
    font-weight: 600;
    color: var(--white);
    background: var(--light-green);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    

    padding: 10px 20px;
    margin-top: .5rem;
    border-radius: 4px;

    -webkit-transition: .3s;

    -o-transition: .3s;

    transition: .3s;
}

.shared-blogs a:hover 
{
    color: var(--light-green);
    background: var(--white);

    border: 1px solid var(--light-green);
}