.sign-section 
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 3rem;

    width: 100%;
}

.sign-heading
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-heading .title 
{
    font-family: "Inter", sans-serif;
    margin-bottom: 3rem;
    width: 100%;
}

.sign-heading .title h1
{
    color: var(--light-green);
    font-size: 1.75em;
}

.sign-heading .title p
{
    color: var(--darker-green);
    font-size: .75em;
}

.sign-heading .title p a
{
    color: var(--orange);
}

.sign-heading .unknown-pp
{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 1px solid var(--black);

    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-heading .unknown-pp .head 
{
    width: 32px;
    height: 32px;
    background: var(--black);
    border-radius: 50%;
    position: absolute;
    margin-bottom: 1rem;
}

.sign-heading .unknown-pp .body 
{
    width: 72px;
    height: 72px;
    background: var(--black);
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
}

.sign-content 
{
    /* width: 100%; */
    display: flex;
    flex-direction: column;

    font-family: "Montserrat", sans-serif;
}

.primary-sign 
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.primary-sign > *,
.secondary-sign > *  
{
    width: 100%;
}

.primary-sign .inputs .input 
{
    margin-top: 2rem;
    position: relative;
}

.primary-sign .inputs .input .placeholder 
{
    font-size: 1em;
    color: var(--gray);
    transition: .3s;
    text-transform: capitalize;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: .6rem;
    pointer-events: none;    
}

.primary-sign .inputs .input input 
{
    padding: .4rem .6rem;
    width: 100%;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    transition: .3s;
}

.primary-sign .inputs .input input:focus,
.primary-sign .inputs .input input:valid
{
    border-color: var(--light-green);
}

.primary-sign .inputs .input input:focus ~ .placeholder,
.primary-sign .inputs .input input:valid ~ .placeholder
{
    top: -1.4rem;
    left: 0;
    color: var(--green);
    font-size: .9em;
}

.primary-sign .confirmation .checkbox-text 
{
    font-size: .75em;
    cursor: pointer;
    transition: .3s;
}

.primary-sign .confirmation .checkbox-text:hover 
{
    opacity: .7;
}

.primary-sign .signButton 
{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: .9em;
    
    padding: .7rem 0;
    background: var(--light-green);
    border: none;
    border: 1px solid var(--light-green);
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.primary-sign .signButton:hover 
{
    background-color: var(--white);
    color: var(--light-green);
    border-color: var(--light-green);
}

.secondary-sign
{
    display: flex;
    flex-direction: column;
}

.secondary-sign .divider 
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 1rem 0;
}

.secondary-sign .divider .line 
{
    width: 46%;
    height: 1px;
    background: var(--dark-gray);
}

.secondary-sign .divider span 
{
    font-size: .7em;
    color: var(--dark-gray);
}

/* CONTINUE HERE (create the sign in section) */

