@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* font : Inter */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* font : Montserrat */

@import "./sub-styles/components/header.css";
@import "./sub-styles/components/footer.css";
@import "./sub-styles/sign.css";
@import "./sub-styles/profile.css";
@import "./sub-styles/gallery.css";
@import "./sub-styles/new-blog.css";
@import "./sub-styles/educative-page.css";
@import "./sub-styles/index-temporary.css";
@import "./sub-styles/index.css";
@import "./sub-styles/blogs.css";

:root {
    --black: #333;
    --white: #fff;
    --red: #D00000;
    --yellow: #FFEA00;
    --orange: #FF8811;
    --dark-gray: #979797;
    --gray: #ECE9E9;
    --light-gray: #D9D9D9;
    --green: #1DAF68;
    --dark-green: #0A3F25;
    --darker-green: #08321E;
    --light-green: #32DE8A;
    --lighter-green: #84EBB9;
}

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html 
{
    scroll-behavior: smooth;
}

a 
{
    text-decoration: none;
}

ul, li 
{
    list-style: none;
}

main 
{
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    padding-top: 120px !important;
    padding-bottom: 4em !important;

    /* TEMPORARY */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* font-weight: bold; */
    /* font-size: 4em; */
}

.disabled
{
    cursor: none;
    pointer-events: none;
    opacity: .3;
}

.primary-btn 
{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: .9em;
    
    padding: .7rem 0;
    background: var(--light-green);
    border: none;
    border: 1px solid var(--light-green);
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.primary-btn:hover 
{
    background-color: var(--white);
    color: var(--light-green);
    border-color: var(--light-green);
}

.secondary-btn 
{
    align-self: flex-end;

    font-family: "Inter", sans-serif;
    font-size: .9em;
    font-weight: 600;
    color: var(--light-green);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    border: 1px solid var(--light-green);
    border-radius: 4px;

    transition: .3s;
}

.secondary-btn:hover 
{
    opacity: .5;
}

/* Animate On Scroll styling */
.aos-base 
{
    opacity: .5;
    transform: translateY(30px);
    transition: all 1s;
    pointer-events: none;
}

.aos-base.scrolled
{
    opacity: 1;
    transform: translate(0);
    pointer-events: all;
}

/* LOADING ANIMATION */
.loaderContainer 
{
    /* fixed inset-0 z-[99999] pointer-events-none bg-white flex justify-center items-center transition-opacity duration-[1.5s] */
    position: fixed;
    inset: 0;
    z-index: 99999;
    pointer-events: none;
    background: var(--white);
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 1.5s;
}

.loaderContainer .loader 
{
    display: flex;
    gap: 1rem;
}

.loaderContainer .loader .loader-dot 
{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;

    transform: none;

    background: var(--green);
}

.dot1 {animation: jump-up 1s .1s linear infinite}
.dot2 {animation: jump-up 1s .2s linear infinite}
.dot3 {animation: jump-up 1s .3s linear infinite}
@keyframes jump-up 
{
    50% 
    {
        transform: translate(0, 18px);
        opacity: .5;
    }
}

@media screen and (max-height: 768px) {

}

body.loading 
{
    overflow: hidden;
}

.loaderContainer.hide-animation
{
    opacity: 0;
}

.hidden
{
    display: none;
}

/* MOBILE FIRST STYLES */

header, main, footer, #lightbox-container, .image-background 
{
    padding: 0 2.1rem;
}

.page-location 
{
    align-self: flex-start;

    /* position: absolute;
    top: 100px; */

    display: flex;
    align-items: center;
    gap: .25rem;

    margin-bottom: 3rem;
}

.page-location * 
{
    font-family: "Montserrat", sans-serif !important;
}

.page-location .location 
{
    font-size: .8em;
    color: var(--black);
}

.page-location .location:hover 
{
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    header, main, footer, #lightbox-container, .image-background
    {
        padding: 0 3rem;
    }
}

@media screen and (min-width: 1024px) {
    header, main, footer, #lightbox-container, .image-background
    {
        padding: 0 4rem;
    }
}