footer 
{
    min-height: 100px;
    width: 100%;
    background-color: var(--dark-green);

    color: var(--white);
    font-family: "Inter", sans-serif;

    padding-top: 3rem !important;
    padding-bottom: .5rem !important;

    position: relative;
    bottom: 0;
}

footer * 
{
    color: var(--white);

    /* centering all the things on mobile size */
    text-align: center;
}

footer .ozon-desktop
{
    display: none;
}

footer h2 
{
    font-size: 1.25em;
}

footer .line 
{
    width: 100%;
    height: 1px;
    background-color: var(--white);
    margin: 1rem 0;

    /* only displayed after mobile size */
    display: none;
}

footer .top-container
{
    margin-bottom: 3rem;
}

footer .top 
{
    margin-bottom: 3rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
}

footer .top a, footer .top .share-us li 
{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

footer .top a:hover 
{
    color: var(--lighter-green);
}

footer .top .share-us li:hover 
{
    background-color: var(--lighter-green);
}

footer .top .logo, footer .top h2, footer .top-container h2
{
    margin-bottom: .7rem;
}

footer .top .logo .logo-image 
{
    width: 32px !important;
    height: 32px !important;
}

footer .blog-letter *
{
    text-align: left;
    font-family: "Inter", sans-serif;
}

footer .blog-letter p 
{
    margin-bottom: .5rem;
}

footer .blog-letter .subscribe 
{
    width: 100%;
    display: flex;

    max-width: 600px;
}

footer .blog-letter input[type="text"]
{
    width: 70%;
    padding: 1.1rem;
    color: var(--black);
    font-size: 1em;

    border: none;
    outline: none;
}

footer .blog-letter input[type="submit"]
{
    width: 30%;
    padding: 1rem;


    border: none;
    outline: none;

    font-size: 1.1em;
    text-align: center;
    background-color: var(--orange);

    cursor: pointer;

    transition: .3s;
}

footer .blog-letter input[type="submit"]:hover 
{
    opacity: .7;
}

footer .bottom
{
    text-align: center;
    font-size: .8em;
}

footer .share-us .links 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .8rem;
}

footer .share-us .links li 
{
    width: 28px;
    height: 28px;
    background: var(--white);
    border-radius: 50%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* TRY TO CENTER THE ICON */
/* footer .share-us .links li a 
{
    display: flex;
    justify-content: center;
    align-items: center;
} */

footer .share-us .links li iconify-icon 
{
    color: var(--dark-green);
    width: 1em;

    /* to make the icon looks right at the middle */
    margin-top: 3px;
}

footer .contact-us .links, footer .others .links 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .3rem;
}

footer .bottom .credit
{
    opacity: .5;
}

footer .bottom .credit span 
{
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    footer * 
    {
        text-align: left;
    }

    footer .copyright-credit *
    {
        text-align: center !important;
    }

    footer .top 
    {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    footer h2 
    {
        font-size: 1.5em;
    }

    footer .line 
    {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    footer .ozon-desktop
    {
        display: block;
    }

    footer .ozon-desktop h1 
    {
        color: var(--light-green);
    }

    footer .ozon-desktop p 
    {
        font-family: "Montserrat", sans-serif;
    }
}