/* MOBILE FIRST STYLES */

header
{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid var(--green);
    position: fixed;
    z-index: 10;
    background-color: var(--white);

    font-family: "Inter", sans-serif;
}

.header-temp
{
    display: flex;
    justify-content: center;
    align-items: center;

    border: none !important;
}

.header-main
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ozon-logo
{
    font-size: 1.5em;
    color: var(--green);
}

.ozon-logo a
{
    color: var(--green);
}

.nav-toggle:hover 
{
    cursor: pointer;
}

.nav-toggle .bar 
{
    width: 36px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--green);

    transition: .5s;
}

.nav-toggle .bar:nth-child(2)
{
    margin: 4px 0;
}

.nav-toggle.opened .bar:nth-child(2)
{
    width: 18px;
}

.nav-toggle.opened .bar:nth-child(3)
{
    width: 27px;
}

.nav-full 
{
    display: none;
}

.nav-mobile
{
    width: 50%;
    height: 100vh;
    position: fixed;
    right: -768px;
    transition: 1s;
    z-index: 5;

    padding: 0 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: var(--green);
}

.nav-mobile.opened 
{
    right: 0;
}

.nav-mobile ul li
{
    margin-bottom: 1rem;
}

.nav-mobile ul li a
{
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: var(--white);

    transition: .3s;
}

.nav-mobile ul li a.current-page, .nav-mobile ul li a:hover
{
    color: var(--lighter-green);
}

@media screen and (min-width: 576px) {
    .nav-mobile ul li a
    {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 768px) {
    .nav-toggle
    {
        display: none;
    }

    .nav-full
    {
        display: block;
    }

    .nav-full ul
    {
        display: flex;
        gap: 1.5rem;
    }

    .nav-full ul li a
    {
        font-family: "Montserrat", sans-serif;
        color: var(--green);

        transition: .3s;
    }

    .nav-full ul li a.current-page, .nav-full ul li a:hover
    {
        color: var(--lighter-green);
    }

    .nav-mobile
    {
        display: none;
    }



}

@media screen and (min-width: 1024px) {
    
}