/* MOBILE FIRST STYLES */

header
{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid var(--green);
    position: fixed;
    z-index: 10;
    background-color: var(--white);

    font-family: "Inter", sans-serif;
}

.header-temp
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    border: none !important;
}

.header-main
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.ozon-logo
{
    font-size: 1.5em;
    color: var(--green);
}

.ozon-logo a
{
    color: var(--green);
}

.nav-toggle:hover 
{
    cursor: pointer;
}

.nav-toggle .bar 
{
    width: 36px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--green);

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;
}

.nav-toggle .bar:nth-child(2)
{
    margin: 4px 0;
}

.nav-toggle.opened .bar:nth-child(2)
{
    width: 18px;
}

.nav-toggle.opened .bar:nth-child(3)
{
    width: 27px;
}

.nav-full 
{
    display: none;
}

.nav-mobile
{
    width: 50%;
    height: 100vh;
    position: fixed;
    right: -768px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: 5;

    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    background: var(--green);
}

.nav-mobile.opened 
{
    right: 0;
}

.nav-mobile ul li
{
    margin-bottom: 1rem;
}

.nav-mobile ul li a
{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: var(--white);

    -webkit-transition: .3s;

    -o-transition: .3s;

    transition: .3s;
}

.nav-mobile ul li a::after 
{
    content: '';
    display: block;
    margin-top: .2rem;
    width: 100%;
    height: 2px;
    background: var(--white);
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 10px;        
}

.nav-mobile ul li a.current-page::after,
.nav-mobile ul li a:hover::after
{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
} 

@media screen and (min-width: 576px) {
    .nav-mobile ul li a
    {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 768px) {
    .nav-toggle
    {
        display: none;
    }

    .nav-full
    {
        display: block;
    }

    .nav-full ul
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 1.5rem;
    }

    .nav-full ul li a
    {
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
        color: var(--green);

        -webkit-transition: .3s;

        -o-transition: .3s;

        transition: .3s;
    }

    .nav-full ul li a::after 
    {
        content: '';
        display: block;
        margin-top: .2rem;
        width: 100%;
        height: 2px;
        background: var(--green);
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border-radius: 10px;        
    }

    .nav-full ul li a.current-page::after,
    .nav-full ul li a:hover::after
    {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    } 

    .nav-mobile
    {
        display: none;
    }



}